workflow/brand-api-agent.json
[{"updatedAt":"2026-05-11T01:24:27.819Z","createdAt":"2026-04-26T00:23:30.742Z","id":"brandapiagent00000000000001","name":"Brand API Agent Nodes","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"brand/decode","responseMode":"responseNode","options":{}},"id":"d1000000-0000-0000-0000-000000000001","name":"Decode webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,160],"webhookId":"brand-decode"},{"parameters":{"operation":"scrape","additionalFields":{},"useCustomBody":true,"customBody":"={\n  \"url\": {{ JSON.stringify($json.body.url) }},\n  \"formats\": [\"summary\", \"branding\"],\n  \"onlyMainContent\": true\n}","requestOptions":{}},"id":"d1000000-0000-0000-0000-000000000002","name":"Firecrawl: Scrape","type":"@mendable/n8n-nodes-firecrawl.firecrawl","typeVersion":1,"position":[432,160],"credentials":{"firecrawlApi":{"id":"sSYPVCnmZHQc7jld","name":"Firecrawl account"}}},{"parameters":{"promptType":"define","text":"={{ \"URL: \" + $('Decode webhook').item.json.body.url + \"\\n\\nSummary:\\n\" + ($json.data.summary || \"\") + \"\\n\\nBranding:\\n\" + JSON.stringify($json.data.branding || {}) }}","options":{"systemMessage":"You are a brand strategist. Return only valid JSON with keys: brand_name, tagline, hero_headline, hero_subheadline, primary_cta, three_bullets (3 strings), tone (3 adjectives). Do not include markdown.","maxIterations":1,"returnIntermediateSteps":false,"passthroughBinaryImages":true,"enableStreaming":false}},"id":"d1000000-0000-0000-0000-000000000003","name":"Kimi: Copy","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[704,160]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ source_url: $('Decode webhook').item.json.body.url, branding: $('Firecrawl: Scrape').item.json.data.branding, copy: JSON.parse($json.output), tokens: {} }) }}","options":{}},"id":"d1000000-0000-0000-0000-000000000004","name":"Decode respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1024,160]},{"parameters":{"httpMethod":"POST","path":"brand/design","responseMode":"responseNode","options":{}},"id":"d2000000-0000-0000-0000-000000000001","name":"Design webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,560],"webhookId":"brand-design"},{"parameters":{"promptType":"define","text":"={{ \"Brand context:\\n\" + JSON.stringify($json.body) }}","options":{"systemMessage":"You are a senior brand strategist. Return only valid JSON with keys: positioning_statement, target_audience, brand_archetype, voice_examples, mood_keywords, what_to_avoid, expansion_opportunities. brand_archetype must be one of: Hero, Outlaw, Magician, Innocent, Explorer, Sage, Lover, Jester, Caregiver, Creator, Ruler, Everyman. Do not include markdown.","maxIterations":1,"returnIntermediateSteps":false,"passthroughBinaryImages":true,"enableStreaming":false}},"id":"d2000000-0000-0000-0000-000000000002","name":"Kimi: Strategy","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[432,560]},{"parameters":{"assignments":{"assignments":[{"id":"s1","name":"strategy","type":"object","value":"={{ JSON.parse($json.output) }}"},{"id":"s2","name":"input","type":"object","value":"={{ $('Design webhook').item.json.body }}"},{"id":"s3","name":"strategy_tokens","type":"number","value":"={{ 0 }}"}]},"options":{}},"id":"d2000000-0000-0000-0000-000000000003","name":"Stash strategy","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,560]},{"parameters":{"promptType":"define","text":"={{ \"Brand input:\\n\" + JSON.stringify($json.input) + \"\\n\\nStrategy:\\n\" + JSON.stringify($json.strategy) }}","options":{"systemMessage":"You are a senior brand designer writing a complete design system spec. Output markdown only. Sections: # {brand_name} Design System, ## At a glance, ## Voice & tone (3 adjectives + 2 example sentences + what to avoid), ## Color palette (markdown table), ## Typography (heading + body, scale), ## Spacing & layout, ## Components (button primary/secondary/card/input specs), ## Imagery & motion, ## Sample landing page outline (hero, 3 features, social proof, footer), ## Brand archetype & expansion, ## Code tokens (JSON code block). Use actual hex codes and font names. Be specific. Output ONLY the markdown.","maxIterations":1,"returnIntermediateSteps":false,"passthroughBinaryImages":true,"enableStreaming":false}},"id":"d2000000-0000-0000-0000-000000000004","name":"Kimi: Design.md","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1024,560]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ design_md: $json.output, strategy: $('Stash strategy').item.json.strategy, tokens_total: $('Stash strategy').item.json.strategy_tokens + 0 }) }}","options":{}},"id":"d2000000-0000-0000-0000-000000000005","name":"Design respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1344,560]},{"parameters":{"httpMethod":"POST","path":"brand/html","responseMode":"responseNode","options":{}},"id":"d3000000-0000-0000-0000-000000000001","name":"HTML webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,960],"webhookId":"brand-html"},{"parameters":{"promptType":"define","text":"={{ \"Design system spec:\\n\" + ($json.body.design_md || \"\") }}","options":{"systemMessage":"Information architect. Given a design.md, return only valid JSON with key \"sections\" = array of 8 objects { type: \"hero|features|social_proof|testimonial|pricing|faq|cta|footer\", heading, subheading, content, cta_text? }. Use the brand voice from the spec. Do not include markdown.","maxIterations":1,"returnIntermediateSteps":false,"passthroughBinaryImages":true,"enableStreaming":false}},"id":"d3000000-0000-0000-0000-000000000002","name":"Kimi: Outline","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[432,960]},{"parameters":{"assignments":{"assignments":[{"id":"o1","name":"outline","type":"object","value":"={{ JSON.parse($json.output) }}"},{"id":"o2","name":"design_md","type":"string","value":"={{ $('HTML webhook').item.json.body.design_md }}"},{"id":"o3","name":"outline_tokens","type":"number","value":"={{ 0 }}"}]},"options":{}},"id":"d3000000-0000-0000-0000-000000000003","name":"Stash outline","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,960]},{"parameters":{"promptType":"define","text":"={{ \"Design spec:\\n\" + ($json.design_md || \"\") + \"\\n\\nSection outline:\\n\" + JSON.stringify($json.outline) }}","options":{"systemMessage":"Senior frontend engineer. Output a complete HTML5 file (one <!doctype html>, full <html>, <head>, <body>). Inline CSS in <style> in <head>. Match the design system exactly using the actual hex codes, fonts, button styles. Google Fonts via <link>. Implement ALL sections from the outline. Vanilla JS for FAQ accordion. Responsive (640/1024px breakpoints). Output ONLY the HTML, NO code fences.","maxIterations":1,"returnIntermediateSteps":false,"passthroughBinaryImages":true,"enableStreaming":false}},"id":"d3000000-0000-0000-0000-000000000004","name":"Kimi: HTML","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1024,960]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ html: $json.output, outline: $('Stash outline').item.json.outline, tokens_total: $('Stash outline').item.json.outline_tokens + 0 }) }}","options":{}},"id":"d3000000-0000-0000-0000-000000000005","name":"HTML respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1344,960]},{"parameters":{"httpMethod":"POST","path":"brand/assets","responseMode":"responseNode","options":{}},"id":"d4000000-0000-0000-0000-000000000001","name":"Assets webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[160,1360],"webhookId":"brand-assets"},{"parameters":{"jsCode":"const body = $input.first().json.body || {};\nconst branding = body.branding || {};\nconst copy = body.copy || {};\nconst strategy = body.strategy || {};\nconst images = branding.images || {};\nconst colors = Array.isArray(branding.colors) ? branding.colors : Object.values(branding.colors || {});\nconst fontsList = Array.isArray(branding.fonts)\n  ? branding.fonts.map((font) => typeof font === \"string\" ? font : font.family).filter(Boolean)\n  : [];\n\nconst palette = colors.slice(0, 6).join(\", \") || \"brand colors\";\nconst fonts = fontsList.slice(0, 3).join(\", \");\nconst brandName = copy.brand_name || branding.title || \"the brand\";\nconst tone = (copy.tone || []).join(\", \") || (strategy.mood_keywords || []).slice(0, 3).join(\", \") || \"modern, confident\";\nconst headline = copy.hero_headline || copy.tagline || \"\";\nconst cta = copy.primary_cta || \"\";\nconst archetype = strategy.brand_archetype || \"\";\nconst designMd = String(body.design_md || \"\").slice(0, 2400);\n\nconst isHttp = (value) => /^https?:\\/\\//.test(String(value || \"\"));\nconst isDataImage = (value) => /^data:image\\/(png|jpe?g|webp);base64,/.test(String(value || \"\"));\nconst imageUrls = [\n  isHttp(images.logo) ? images.logo : null,\n  isDataImage(body.screenshot) ? body.screenshot : null,\n  isHttp(images.ogImage) ? images.ogImage : null,\n].filter(Boolean);\n\nconst referenceRules = [\n  \"Reference priority is strict: first the logo/brand mark, second the homepage screenshot, third the OG image only as secondary inspiration.\",\n  \"The generated asset must visibly belong to the same brand system as the logo: match the mark geometry, color relationships, contrast, spacing, and polish.\",\n  \"Do not invent a different logo, mascot, app icon, or unrelated symbol.\",\n  \"Use the homepage screenshot for layout density, surface treatment, typography feel, and real product context.\",\n].join(\" \");\n\nconst baseStyle = [\n  `Brand: ${brandName}.`,\n  `Tone: ${tone}.`,\n  archetype ? `Archetype: ${archetype}.` : \"\",\n  `Palette: ${palette}.`,\n  fonts ? `Typography: ${fonts}.` : \"\",\n  headline ? `Headline: ${headline}.` : \"\",\n  cta ? `CTA: ${cta}.` : \"\",\n  referenceRules,\n  `Design system context: ${designMd}`,\n].filter(Boolean).join(\" \");\n\nif (body.asset_prompt) {\n  return [{\n    json: {\n      type: body.asset_type || \"custom\",\n      image_size: body.image_size || \"landscape_16_9\",\n      image_urls: imageUrls,\n      prompt: `${body.asset_prompt}\\n\\nBrand context:\\n${baseStyle}`,\n    },\n  }];\n}\n\nconst specs = [\n  [\"hero\", \"landscape_16_9\", `Hero marketing image for ${brandName}. ${baseStyle} Concept: ${headline || \"the brand promise\"}. High-end website hero visual.`],\n  [\"ig_post\", \"square_hd\", `Instagram post for ${brandName}. ${baseStyle} Square composition with one strong subject and short readable text treatment: ${brandName}. Premium.`],\n  [\"og_card\", \"landscape_16_9\", `Open graph card for ${brandName}. ${baseStyle} Editorial preview image with clear hierarchy and product-led visual language.`],\n  [\"ig_story\", \"portrait_16_9\", `Instagram story for ${brandName}. ${baseStyle} Tall mobile composition with a strong central visual and concise headline area.`],\n];\n\nreturn specs.map(([type, image_size, prompt]) => ({ json: { type, image_size, image_urls: imageUrls, prompt } }));"},"id":"d4000000-0000-0000-0000-000000000002","name":"Build prompts","type":"n8n-nodes-base.code","typeVersion":2,"position":[432,1360]},{"parameters":{"model":{"__rl":true,"mode":"id","value":"openai/gpt-image-2"},"modelParameters":{"parameters":[{"parameter":"prompt","value":"={{ $json.prompt }}"},{"parameter":"image_size","value":"={{ $json.image_size }}"},{"parameter":"quality","value":"medium"},{"parameter":"num_images","value":"1"},{"parameter":"output_format","value":"png"},{"parameter":"image_urls","value":"={{ JSON.stringify($json.image_urls || []) }}"}]},"options":{"waitForCompletion":true,"pollInterval":2,"maxWaitTime":180}},"id":"d4000000-0000-0000-0000-000000000003","name":"Fal: Generate","type":"@fal-ai/n8n-nodes-fal.falAi","typeVersion":1,"position":[704,1360],"credentials":{"falAiApi":{"id":"fal-ai-api-001","name":"fal.ai account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1","name":"type","type":"string","value":"={{ $json.type || $('Build prompts').item.json.type }}"},{"id":"a2","name":"url","type":"string","value":"={{ $json.images[0].url }}"},{"id":"a3","name":"width","type":"number","value":"={{ $json.images[0].width || ({ square_hd: 1024, square: 512, portrait_4_3: 768, portrait_16_9: 576, landscape_4_3: 1024, landscape_16_9: 1024 }[$('Build prompts').item.json.image_size] || null) }}"},{"id":"a4","name":"height","type":"number","value":"={{ $json.images[0].height || ({ square_hd: 1024, square: 512, portrait_4_3: 1024, portrait_16_9: 1024, landscape_4_3: 768, landscape_16_9: 576 }[$('Build prompts').item.json.image_size] || null) }}"},{"id":"a5","name":"prompt","type":"string","value":"={{ $('Build prompts').item.json.prompt }}"}]},"options":{}},"id":"d4000000-0000-0000-0000-000000000004","name":"Shape asset","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[992,1360]},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"assets","options":{}},"id":"d4000000-0000-0000-0000-000000000005","name":"Aggregate assets","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1264,1360]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ assets: $json.assets, mocked: false }) }}","options":{}},"id":"d4000000-0000-0000-0000-000000000006","name":"Assets respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1552,1360]},{"parameters":{"model":"kimi-k2.6","options":{"maxTokens":8192,"responseFormat":"json_object","temperature":1,"timeout":600000,"maxRetries":2}},"id":"lm100000-0000-0000-0000-000000000003","name":"Kimi Model: Copy","type":"@n8n/n8n-nodes-langchain.lmChatMoonshot","typeVersion":1,"position":[704,368],"credentials":{"moonshotApi":{"id":"moonshot-api-001","name":"Moonshot account"}}},{"parameters":{"model":"kimi-k2.6","options":{"maxTokens":8192,"responseFormat":"json_object","temperature":1,"timeout":600000,"maxRetries":2}},"id":"lm200000-0000-0000-0000-000000000002","name":"Kimi Model: Strategy","type":"@n8n/n8n-nodes-langchain.lmChatMoonshot","typeVersion":1,"position":[432,768],"credentials":{"moonshotApi":{"id":"moonshot-api-001","name":"Moonshot account"}}},{"parameters":{"model":"kimi-k2.6","options":{"maxTokens":32768,"responseFormat":"text","temperature":1,"timeout":600000,"maxRetries":2}},"id":"lm200000-0000-0000-0000-000000000004","name":"Kimi Model: Design.md","type":"@n8n/n8n-nodes-langchain.lmChatMoonshot","typeVersion":1,"position":[1024,768],"credentials":{"moonshotApi":{"id":"moonshot-api-001","name":"Moonshot account"}}},{"parameters":{"model":"kimi-k2.6","options":{"maxTokens":16384,"responseFormat":"json_object","temperature":1,"timeout":600000,"maxRetries":2}},"id":"lm300000-0000-0000-0000-000000000002","name":"Kimi Model: Outline","type":"@n8n/n8n-nodes-langchain.lmChatMoonshot","typeVersion":1,"position":[432,1168],"credentials":{"moonshotApi":{"id":"moonshot-api-001","name":"Moonshot account"}}},{"parameters":{"model":"kimi-k2.6","options":{"maxTokens":65536,"responseFormat":"text","temperature":1,"timeout":600000,"maxRetries":2}},"id":"lm300000-0000-0000-0000-000000000004","name":"Kimi Model: HTML","type":"@n8n/n8n-nodes-langchain.lmChatMoonshot","typeVersion":1,"position":[1024,1168],"credentials":{"moonshotApi":{"id":"moonshot-api-001","name":"Moonshot account"}}}],"connections":{"Decode webhook":{"main":[[{"node":"Firecrawl: Scrape","type":"main","index":0}]]},"Firecrawl: Scrape":{"main":[[{"node":"Kimi: Copy","type":"main","index":0}]]},"Kimi: Copy":{"main":[[{"node":"Decode respond","type":"main","index":0}]]},"Design webhook":{"main":[[{"node":"Kimi: Strategy","type":"main","index":0}]]},"Kimi: Strategy":{"main":[[{"node":"Stash strategy","type":"main","index":0}]]},"Stash strategy":{"main":[[{"node":"Kimi: Design.md","type":"main","index":0}]]},"Kimi: Design.md":{"main":[[{"node":"Design respond","type":"main","index":0}]]},"HTML webhook":{"main":[[{"node":"Kimi: Outline","type":"main","index":0}]]},"Kimi: Outline":{"main":[[{"node":"Stash outline","type":"main","index":0}]]},"Stash outline":{"main":[[{"node":"Kimi: HTML","type":"main","index":0}]]},"Kimi: HTML":{"main":[[{"node":"HTML respond","type":"main","index":0}]]},"Assets webhook":{"main":[[{"node":"Build prompts","type":"main","index":0}]]},"Build prompts":{"main":[[{"node":"Fal: Generate","type":"main","index":0}]]},"Fal: Generate":{"main":[[{"node":"Shape asset","type":"main","index":0}]]},"Shape asset":{"main":[[{"node":"Aggregate assets","type":"main","index":0}]]},"Aggregate assets":{"main":[[{"node":"Assets respond","type":"main","index":0}]]},"Kimi Model: Copy":{"ai_languageModel":[[{"node":"Kimi: Copy","type":"ai_languageModel","index":0}]]},"Kimi Model: Strategy":{"ai_languageModel":[[{"node":"Kimi: Strategy","type":"ai_languageModel","index":0}]]},"Kimi Model: Design.md":{"ai_languageModel":[[{"node":"Kimi: Design.md","type":"ai_languageModel","index":0}]]},"Kimi Model: Outline":{"ai_languageModel":[[{"node":"Kimi: Outline","type":"ai_languageModel","index":0}]]},"Kimi Model: HTML":{"ai_languageModel":[[{"node":"Kimi: HTML","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"50b60523-3c08-49ab-8f86-b32c263607f6","activeVersionId":"83aede6a-bf8e-4ca8-be98-b1bbe1470f47","versionCounter":19,"triggerCount":4,"tags":[],"shared":[{"updatedAt":"2026-05-10T23:54:42.723Z","createdAt":"2026-05-10T23:54:42.723Z","role":"workflow:owner","workflowId":"brandapiagent00000000000001","projectId":"fhYWuuvJIeruqAVv","project":{"updatedAt":"2026-05-10T00:53:18.609Z","createdAt":"2025-08-18T19:06:31.698Z","id":"fhYWuuvJIeruqAVv","name":"jonathan mcwilliam <developers.digest.ai@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8cd61474-38e8-4920-b50b-10f1dd6d6114"}}],"versionMetadata":{"name":null,"description":null}}]